@font-face {
	font-family: "pf";
	src: url(./assets/fonts/Commissioner.ttf);
}
:root {
	--f1: "pf";
	--fn: 450;
	--fm: 500;
	--fb: 600;

	--cf: #EEEDF0;

	--primary: #1A51E8;
	--cl1: #000022;
	--cl2: #D6E5E3;

	--dark1: #1E2224;
	--dark3: #1D1F20;
	--white3: #EEEDF0;

	--danger: #F65456;

	--dark2:#101213;

	--border: #1A1C1E;

	--padding: 1rem;

	--wbr: 1px;
	--toeng: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--f1);
	font-weight: var(--fn);
	color: var(--cf);
}

body {
	background-color: var(--dark1);
}

a {
	text-decoration: none;
}

.separator {
	background-color: var(--border);
}

.swiper-slide {
	margin-right: 0;
}

.mainLayout {
	padding-left: calc(50px + 1.5rem * 2);
}

@media (max-width: 747px) {
	.mainLayout {
		padding-left: 0;
		padding-top: calc(34px + 1rem * 2);
	}
}

