@font-face {
	font-family: "pf";
	src: url(./assets/fonts/Commissioner.ttf);
}
:root {
	--f1: "pf";
	--fn: 450;
	--fm: 500;

	--cf: #272727;

	--primary: #AD7AFF;
	--cl1: #000022;
	--cl2: #D6E5E3;

	--white1: #FFFFFF;
	--white2: #F8F8F8;
	--white3: #EEEDF0;

	--border: #E1E1E1;

	--padding: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--f1);
	font-weight: var(--fn);
	color: var(--cf);
}

body {
	background-color: var(--white2);
	padding: var(--padding);
}

.pages {
	overflow: hidden;
}